name: Update Scoreboard

on:
  schedule:
    # Run at 00:00 every Monday
    - cron: '0 0 * * 1'
  workflow_dispatch: # Allow manual trigger

jobs:
  update-scoreboard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create data directory
        run: mkdir -p data

      - name: Fetch Scoreboard Data
        run: |
          curl -s "https://ctf.pitoctf.online/api/v1/scoreboard" -o data/scoreboard.json

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add data/scoreboard.json
          # Only commit if there are changes
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update scoreboard data" && git push)
